/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/
/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */
/* #Site Styles
================================================== */
body {
  background: url(../images/use_your_illusion.png); }

h1, h2, h3, h4, h5, h6 {
  font-family: 'NovecentowideBookBold', Helvetica, Arial, Sans-Serif;
  color: #33FF99; }

header {
  text-align: center;
  padding: 2em 0; }
  header h1 {
    font-size: 4.28571em; }
  header h2 {
    font-size: 2.14286em; }

.fb-login-button {
  margin: 0 auto;
  width: 152px;
  display: block !important; }

.game {
  text-align: center;
  margin: 50px; }
  .game .countdown {
    font-family: 'NovecentowideNormalRegular', Helvetica, Arial, Sans-Serif;
    font-size: 4.28571em; }
    .game .countdown.go {
      font-family: 'NovecentowideBookBold', Helvetica, Arial, Sans-Serif; }

.players {
  text-align: center; }

.user .placeholder {
  background: #000;
  padding: 20px 0 12px;
  margin-bottom: 20px;
  text-align: center; }
  .user .placeholder i {
    font-size: 3em;
    color: #33FF99; }

.guess {
  text-align: center;
  margin-top: 20px; }
  .guess h2 {
    text-align: center; }
  .guess ul li a {
    font-family: 'NovecentowideNormalRegular', Helvetica, Arial, Sans-Serif;
    text-decoration: none;
    background: #000;
    color: #FFF;
    padding: 10px 0;
    font-size: 1.42857em;
    min-width: 250px;
    display: inline-block;
    cursor: pointer;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear; }
    .guess ul li a:hover {
      background: #33FF99;
      color: #000; }

/* #Page Styles
================================================== */
/* #Media Queries
================================================== */
/* Smaller than standard 960 (devices and browsers) */
/* Tablet Portrait size to standard 960 (devices and browsers) */
/* All Mobile Sizes (devices and browser) */
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
/* #Font-Face
================================================== */
@font-face {
  font-family: 'NovecentowideNormalRegular';
  src: url("../fonts/novecentowide-normal-webfont.eot");
  src: url("../fonts/novecentowide-normal-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/novecentowide-normal-webfont.woff") format("woff"), url("../fonts/novecentowide-normal-webfont.ttf") format("truetype"), url("../fonts/novecentowide-normal-webfont.svg#NovecentowideNormalRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'NovecentowideBookBold';
  src: url("../fonts/novecentowide-bold-webfont.eot");
  src: url("../fonts/novecentowide-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/novecentowide-bold-webfont.woff") format("woff"), url("../fonts/novecentowide-bold-webfont.ttf") format("truetype"), url("../fonts/novecentowide-bold-webfont.svg#NovecentowideBookBold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'PTSansCaptionRegular';
  src: url("../fonts/ptc55f-webfont.eot");
  src: url("../fonts/ptc55f-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ptc55f-webfont.woff") format("woff"), url("../fonts/ptc55f-webfont.ttf") format("truetype"), url("../fonts/ptc55f-webfont.svg#PTSansCaptionRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'PTSansCaptionBold';
  src: url("../fonts/ptc75f-webfont.eot");
  src: url("../fonts/ptc75f-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ptc75f-webfont.woff") format("woff"), url("../fonts/ptc75f-webfont.ttf") format("truetype"), url("../fonts/ptc75f-webfont.svg#PTSansCaptionBold") format("svg");
  font-weight: normal;
  font-style: normal; }
